* { margin: 0; padding: 0; outline: 0;}
body{
font-size: 12px;
font-family: "Times new roman";
color: #000;
background: none;
letter-spacing:1.1px;
line-height:normal;
}
img {border:none;}
html, body { text-align: center ;}
ul { list-style-type:none; }
#mascara { position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 6; background-color: #000000; opacity: 0.9; filter: alpha(opacity=90);}
#cerrar { position: absolute; right: 90px; top: 30px; width:80px; z-index: 7; color: white; cursor:pointer;}
#header { position: fixed; width: 100%; left:0px;top: 0px; padding-left: 5px; height: 20px; z-index:100;background-image:url('../images/menuBackground.png');}
#header li {display:inline;cursor: pointer;}

#header_mob { font-size:18px;  width: 100%; left:0px;top: 0px; padding: 10px; z-index:100;border-style:solid;border-width:1px;border-color:gray }
#header_mob li {display:inline;cursor: pointer;}

#tipoPagina {color: white;visibility:hidden}
#portada {position: fixed;left:0px;top: 0px;z-index:0; width:100%;}
#portada_mob {position: fixed;left:0px;top: 200px;z-index:0; width:100%;}
.inlinedisplay { display:inline}
.bgcolorgray{ background-color:#E6E6E6}
.bgcolorblack{ background-color:black}
.bgcolorblue{ background-color:blue}
.textwhite {color:white}
.floatright {float:right}
.center { width: 50%; margin: 0 auto;}
.center2 { width: 90%; margin: 0 auto;}
.bold-text {font-weight :bold}
.texto{font-size: 12px; background-color: white; color:gray;padding: 5px;letter-spacing:1.2px}
.tachado {text-decoration:line-through; font-size: 14px}
.hidden {visibility:hidden}
.ref { font-size: 15px; font-style:italic; text-align:right;z-index:10}
.inline { float:left; }
.display-inline { display:inline; }
.noinline { float:none; }
.verticalcenter90 {line-height:90px}
.verticalcenter30 {line-height:30px}
.verticalcenter102 {line-height:102px}
.verticalcenter120 {line-height:120px}
.verticalcenter45 {line-height:45px}
.height102 {height:102px}
.height120 {height:120px}
.height90 {height:90px}
.height50 {height:50px}
.height60 {height:60px}
.height45 {height:45px}
.height30 {height:30px}
.height35 {height:35px}
.height25 {height:25px}
.height20 {height:20px}
.height400 {height:400px}
.height405 {height:405px}
.height380 {height:380px}
.height408 {height:408px}
.height900 {height:900px !important }
.height3 {height:3px}
.width200 {width:200px}
.width180 {width:180px}
.width150 {width:150px}
.width100 {width:100px}
.width110 {width:110px}
.width85 {width:85px}
.width50 {width:50px}
.width25 {width:25px}
.width440 {width:440px}
.width300 {width:300px}
.width8 {width:8px}
.pad15 {padding:15px}
.pad40 {padding:40px}
.padleft15{padding-left:15px}
.border {border-style:solid;border-width:1px;border-color:gray}
.borderBottom {  border-bottom-width:1px; border-bottom-color:gray; border-bottom-style: solid;}
.borderLeft {  border-left-width:1px; border-left-color:gray; border-left-style: solid;}
.alignleft {text-align:left}
.alignright {text-align:right}
.aligncenter {text-align:center}
.invisible {visibility: hidden;}
.dentroCuadro {position:absolute; top:0px; width:612px; height:381px;} 
.zindex10{z-index:10}
.overflowy { overflow-y:auto; }
.sinEfectos a:link {text-decoration:none;color:black;}
.sinEfectos a:visited {text-decoration:none; color:black;}
.sinEfectos a:hover {text-decoration:none;color:black;}
.sinEfectos a:active {text-decoration:none;color:black;}
.underline {text-decoration:underline;}
.cursorpointer {cursor:pointer}
.blacktext {color:black}
.fs10 { font-size:10px}
.fs8 { font-size:8px}
.fs12 { font-size:12px}
.fs14 { font-size:14px}
.fs18 { font-size:18px}
.fs28 { font-size:28px}
.table{display: table;}
.row{ display: table-row; }
.cell { display: table-cell; vertical-align:middle}
.fotoImage2 { position:absolute; top:0px;right:0px;}
.fotoImg { position:absolute; top:0px;right:0px;}
.fotoImg_mob { position:absolute; top:0px;right:0px;}
.fotoImgSingle { position:absolute; top:0px;right:0px;}
.hoverborder:hover {border-style:solid;border-width:1px;border-color:gray}
.hoverbggray:hover {background-color:#D8D8D8}
#orderOption{cursor:pointer}
#orderList{line-height:25px; height: 320px }
#titulo1 { position:relative; text-align:right; top:0px; right:20px ; font-size:14px; font-weight:normal }
#logo { position:relative;top: 20px;  height:100px;z-index:1 }
#contenedor1{ position:relative;top:60px;width:100%; margin-bottom:200px;visibility: hidden; max-width:980px; display:inline-block}
#contenedor1_mob{ position:relative;top:0px;width:100%; margin-bottom:200px;visibility: hidden; max-width:975px}
#orderDetailList { position:absolute; top:0px; padding-left:40px;height: 0px;display: inline-block; width:920px; height:411px; color:black;top:0px;font-size: 16px ;text-align: left;z-index:45;background-color: white; }
.loginStyle { position:absolute; top:0px; padding-left:40px;display: inline-block; width:920px; color:black;top:0px;font-size: 16px ;text-align: left;z-index:50;background-color: white; }
.loginStyle_mob { position:absolute; top:0px; display: inline-block; width:100%; color:black;font-size: 14px ;text-align: left;z-index:50;background-color: white; }
#carritoId { position:absolute; top:0px; width:920px ;font-size: 12px ;z-index:50; text.color: gray;background-color: white; overflow-y:auto ;padding-left:40px;padding-bottom:40px;margin-bottom:20px}
#carritoId_mob { position:absolute; top:0px; width:95% ;font-size: 14px ;z-index:50; text.color: gray;background-color: white; overflow-y:auto; padding-left:10px}
.contenido{ position:absolute ;top:0px; width:640px; padding-left: 20px; padding-right:20px; padding-top: 5px; padding-bottom: 8px;height: 407px ;font-size:14px; line-height:20px;  margin-left:10px; overflow-y: auto;text-align: left;z-index:5;}
.contenido_mob{ position:absolute ;top:0px; width:100%; padding-left: 20px; padding-right:20px; padding-top: 5px; padding-bottom: 8px;height: 407px ;font-size:14px; line-height:20px;  margin-left:10px; overflow-y: auto;text-align: left;z-index:5;}
.contenido h2 { text-align:center; font-size:20px }
.borrarArticulo {color:red; text-decoration:none;cursor: pointer;}
#menu { position:absolute; top:0px; padding: 0px;font-size: 16px ;color: white;width: 320px;text-align: left;z-index:4;height:400px}
#menu {text-align: left;z-index:5;width:321px}
#menu ul {height:380px; background-image:url('../images/menuBackground.png')}
#menu li:hover { color:black;cursor: pointer;}
#menu a:link {text-decoration:none;color:black;}
#menu a:visited {text-decoration:none; color:black;}
#menu a:hover {text-decoration:none;color:black;}
#menu a:active {text-decoration:none;color:black;}
#menuPortada { position:absolute; top:0px; padding: 0px;font-size: 16px ;color: white;width: 320px;text-align: left;z-index:4;}
#menuPortada {height:380px;text-align: left;z-index:5;width:321px}
#menuPortada ul {height:380px}
#menuPortada li:hover { color:black;cursor: pointer;}
#menuPortada a:link {text-decoration:none;color:white;}
#menuPortada a:visited {text-decoration:none; color:white}
#menuPortada a:hover {text-decoration:none;color:white;}
#menuPortada a:active {text-decoration:none;color:white;}
#menutitle{ background:none;padding:0px;height: 20px;margin-left:0px; margin-top:0px; font-size:12px }
#menu_boton_mob{ background:none;position:relative; font-size:18px;padding:10px; margin-bottom:20px }
#menu_mob { position:relative; top:0px; padding: 0px;font-size: 16px ;color: white;width: 100%;text-align: left;z-index:4;}
#menu_mob li:hover { color:black;cursor: pointer;}
#menu_mob a:link {text-decoration:none;color:black;}
#menu_mob a:visited {text-decoration:none; color:black;}
#menu_mob a:hover {text-decoration:none;color:black;}
#menu_mob a:active {text-decoration:none;color:black;}
#menuPortada_mob { position:absolute; top:0px; padding: 0px;font-size: 12px ;color: white;width: 100%;text-align: left;z-index:4;}
#menuPortada_mob {height:380px;text-align: left;z-index:5;width:100%}
#menuPortada_mob ul {height:380px}
#menuPortada_mob li:hover { color:black;cursor: pointer;}
#menuPortada_mob a:link {text-decoration:none;color:white;}
#menuPortada_mob a:visited {text-decoration:none; color:white}
#menuPortada_mob a:hover {text-decoration:none;color:white;}
#menuPortada_mob a:active {text-decoration:none;color:white;}
#menutitle_mob{ background:none;padding:0px;height: 20px;margin-left:0px; margin-top:0px; font-size:12px }
.item1 {padding-left:10px;font-size: 16px; padding-top: 3px; padding-bottom: 3px;}
.item1.selected{color:black; font-weight:bold}
.item2 {padding-left:20px;font-size: 16px; padding-top: 3px; padding-bottom: 3px;}
.item2.selected{color:black; font-weight:bold}
.item3 { padding-left:35px; font-size: 14px; padding-top: 2px; padding-bottom: 2px; }
.item3.selected{ font-weight:bold;}
.item4 { padding-left:50px; font-size: 12px; padding-top: 2px; padding-bottom: 2px; }
.item4.selected{font-weight:bold; color:black;}
.item1_mob {padding-left:10px;font-size: 24px; padding-top: 3px; padding-bottom: 3px;}
.item1_mob.selected{color:black; font-weight:bold}
.item2_mob {padding-left:20px;font-size: 22px; padding-top: 3px; padding-bottom: 3px;}
.item2_mob.selected{color:black; font-weight:bold}
.item3_mob { padding-left:35px; font-size: 20px; padding-top: 2px; padding-bottom: 2px; }
.item3_mob.selected{ font-weight:bold;}
.item4_mob { padding-left:50px; font-size: 20px; padding-top: 2px; padding-bottom: 2px; }
.item4_mob.selected{font-weight:bold; color:black;}
#zoomContainer {position:absolute; top:30px;height:900px; width:700px; left:50%;margin-left: -350px; z-index:50; background-color: white;}
#zoomContainer_mob {position:absolute; top:30px;height:900px; width:80%; left:50%;margin-left: -350px; z-index:50; background-color: white;}
.fotoA {}
.foto { position:relative;top:3%; display: inline-block; width:320px; vertical-align:top;height:411px; }
.fotoProd { position:relative;top:3%; display: inline-block; width:320px; vertical-align:top;height:411px; }
.fotoProd_mob { position:relative;top:3%; display: inline-block; width:320px; vertical-align:top; }
.foto_mob { position:relative; margin-top:3px;top:3%; display: inline-block; width:320px; vertical-align:top;height:411px; }
.foto_blank { position:relative; top:3%; display: inline-block; width:320px; vertical-align:top;height:411px; }
.foto_blank1 { position:relative; top:3%; display: inline-block; width:320px; vertical-align:top;height:411px; }
.store { position:relative; margin-top:10px;display: inline-block; vertical-align: top;width:960px; height:40px; }
.storeDummy { position:relative; ;display: inline-block; vertical-align: top;width:450px;  }
.tagPrice {position:absolute; bottom:0px; background-repeat: repeat; height: 30px; width: 100%; line-height:30px; font-size: 20px ; font-style: bold;text-align: center; z-index:4; background-image:url('../images/menuBackground.png')}
.tagName {position:absolute; bottom:0px;  line-height:30px;  text-align:center; margin-top:5px;background-repeat: repeat; height: 30px; width: 100%; font-size: 14px; font-style:bold;  text-align: center; z-index:5;background-image:url('../images/menuBackground.png')}
#tagPriceProducto {position:absolute;right:120px;background-repeat: repeat; font-size: 16px ;text-align: right;z-index:4}
#tagPriceProducto_mob { font-size: 22px ;z-index:5;padding:10px}
.tagAgotado {background-color: red; color:white; padding-top:6px;position:absolute; bottom:200px; background-repeat: repeat; height: 30px; width: 100%; background-image:url('../images/menuBackground.png'); font-size: 20px ; font-style: bold;text-align: center;z-index:4}


.precioDecimal_mob {font-size:2}
.precioDecimal_mob {font-size:14px}

#infoStore {position:absolute; bottom:200px; background-repeat: repeat; height: 30px; width: 315px; background-image:url('../images/menuBackground.png'); font-size: 12px ;text-align: center;z-index:4}
#infoPanel {position: absolute; top:0px;width:310px; height:401px; z-index:4;text-align: left;left; padding: 5px; background-color:white}
#infoPanel_mob {  height:401px; z-index:4;text-align: left;left; padding: 5px; background-color:white}
#cuidados {cursor: pointer;z-index:20}
.tallasStyle{position:absolute; bottom:-40px ; left:0px; font-size: 16px; display:inline ; text-align: left; height: 20px;width:948px; background-image:url('../images/menuBackground.png');padding:10px}
.tallasStyle li {width:25px;}
.tallasStyle ul li { display: inline; padding-left: 2px; padding-right: 2px;font-size:12px}
.tallasStyle li:hover { background-color:#CCCCCC; cursor: pointer;}
.tallasStyle_mob{  font-size: 16px; padding:10px; margin-bottom:5px}
.tallasStyle_mob ul li { display: inline; padding-left: 10px; padding-right: 10px;font-size:12px}
#tituloCat{position:absolute; top:-25px ; left:3px; font-size: 12px ; letter-spacing: 2px; cursor: pointer;color:gray}
#tituloVolver_mob{position:absolute; top:-25px ; left:3px; font-size: 18px ; letter-spacing: 2px; cursor: pointer}
.buyBotonStyle {position:absolute; right:4px; top:5px; }

.button {
  height: 48px;
  padding: 0 36px;
  border-radius: 4px;
  background: #46629B;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  -o-transition: background 0.3s, color 0.3s;
  -ms-transition: background 0.3s, color 0.3s;
  -moz-transition: background 0.3s, color 0.3s;
  -webkit-transition: background 0.3s, colorblue}
.button:hover {
  background: #000;
  text-decoration: none;
}
.button-smaller {
  height: 36px;
  padding: 0 24px;
}
.button-secondary {
  background: #d6d6d6;
  color: #292929;
}
.button-disabled {
  background: #999;
  cursor: inherit;
}
.button-disabled:hover {
  background: #999;
  cursor: inherit;
}
.button-secondary:hover {
  background: #b5b5b5;
}
a.button-ok, button.button-ok{
  background:#46629B;
  color: #fff;
}
a.button-ok:hover, button.button-ok:hover{
  background: #364C78;
  color: #fff;
}


#titulo {position:absolute; top: -25px; font-size: 12px ; color:gray; right:0px; z-index:4; width: 700px; text-align:right;letter-spacing: 2px}	
#masInfo {cursor: pointer; display: inline-block;color:gray;font-size:12px}	
#boton1 {width:100px;height:30px;z-index:4;}
#footer { position:fixed ; width: 100%; bottom: 0px; height: 20px; z-index:75 ;background-image:url('../images/menuBackground.png')}
.listFooter  {display:inline; vertical-align: top;line-height:20px; cursor:pointer}
.desplegaFooter{position:absolute; display:none;bottom:18px;padding-bottom:3px;background-image:url('../images/menuBackground.png')}
.listDesplegaFooter {padding-left:5px;height:25px; text-align:left; line-height:25px; width:180px}
.listDesplegaFooter:hover { background-color:gray;}

.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 0;
	width: 16px;
	height: 100%;
	background: blue;
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: blue;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	background: #dde;
	position: relative;
}

.jspDrag
{
	background: gray;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
	padding: 0;
	margin: 0;
}

.jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow
{
	height: 16px;
}

.jspHorizontalBar .jspArrow
{
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}

/*Lets create the magnifying glass*/
.large {
	width: 200px; height: 200px;
	line-height: 200px;
	font-size:16px;
	position: absolute;
	border-radius: 100%;
	z-index:50;
	cursor:pointer;	
	       /*Multiple box shadows to achieve the glass effect*/
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 1), 
	0 0 7px 7px rgba(0, 0, 0, 0.25), 
	inset 0 0 40px 2px rgba(0, 0, 0, 0.25);


	
	/*Lets load up the large image first*/
	
	/*hide the glass by default*/
	display: none;
}

/*To solve overlap bug at the edges during magnification*/
.small { display: block; }
