* { margin: 0; padding: 0; outline: 0;}
body{
font-size: 12px;
font-family: "Times new roman";
color: #000;
background: none;
letter-spacing:1.1px;
line-height:normal;
}
img {border:none;}
html, body { text-align: center ;}
ul { list-style-type:none; }

a {text-decoration:none}

#container { min-height:100%; position:relative; margin-bottom:100px}
#mascara { position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 6; background-color: #000000; opacity: 0.9; filter: alpha(opacity=90);}
#cerrar { position: absolute; right: 10px; top: 30px; width:80px; z-index: 7; color: white; cursor:pointer;}
#header { position: fixed; width: 100%; left:0px;top: 0px; padding-left: 5px;; z-index:100;background-color:white; font-size:18px}
#headerFreeShipping { width: 50%; height: 20px; z-index:100;background-color:black; color:white;font-size:18px; text-align:left ;font-size:12px; font-weight:bold; letter-spacing:1.3px}
#headerInfo {  width: 50%; ; height: 20px; z-index:100;background-color:black; color:white;font-size:18px; text-align:right ; font-size:12px; font-weight:bold; letter-spacing:1.3px}
#header ul {height:50px}
#header li {display:inline;cursor: pointer;}

#header_mob { font-size:18px;  width: 100%; left:0px;top: 0px; z-index:100;border-style:solid;border-width:1px;border-color:gray;line-height:30px }
#header_mob li {display:inline;cursor: pointer}

#header_socialmedia {position:absolute; top:20px ;right:5px; padding-right:20px; float:right; padding-top:3px}
#header_socialmedia_mob { padding-right:20px; padding-top:3px}
#payment_method {position:absolute;  bottom: 0px; right:5px;  float:right}
#payment_method_mob {position:relative;  bottom: 0px; right:5px;  float:right}


#tipoPagina {color: white;visibility:hidden;height:1px}
#portada {position: fixed;left:0px;top: 0px;z-index:1; width:100%;}
#portada_mob {position:absolute; left:0px;top: 200px;z-index:1; width:100%;}
#cartel{position:absolute;font-size: 42px;bottom:2px; font-weight:bold; width:100%;background:black; color:white}
#cartel_mob{position:absolute;font-size: 42px; font-weight:bold; background:black; color:white; bottom:200px; width:100%; text-align:center}
#video{position:absolute;top:-40px;left:-100px;width:700px; height:400px;z-index:10}
#closeVideo{position:absolute;top:20px; right:40px; height:30px; width:100px;  }
#playMusic{position:absolute; top:45px; right:40px; height:30px; width:100px;  }
#stopMusic{position:absolute; top:70px; right:40px; height:30px; width:100px;}

.margin-left-30{margin-left:30px}
.margin-right-30{margin-right:30px}
.inlinedisplay { display:inline}
.bgcolorgray{ background-color:#E6E6E6}
.bgcolorblack{ background-color:black}
.bgcolorblue{ background-color:blue}
.textwhite {clip: rect(1px 1px 1px 1px);position: absolute !important;z-index:120}
.colorwhite {color:white}
.floatright {float:right}
.floatleft {float:left}
.center { width: 50%; margin: 0 auto;}
.center2 { width: 90%; margin: 0 auto;}
.bold-text {font-weight :bold}
.texto{font-size: 12px; background-color: white; color:gray;padding: 5px;letter-spacing:1.2px}
.texto_mob{font-size: 16px; background-color: white; color:gray;padding: 5px;letter-spacing:1.4px}
.tachado {text-decoration:line-through; font-size: 14px}
.hidden {visibility:hidden}
.ref { font-size: 15px; font-style:italic; text-align:right;z-index:10}
.inline { float:left; }
.display-inline { display:inline; }
.noinline { float:none; }
.clear{float:none;clear:both;font-size:0px;line-height:0px;height:0px; }
.verticalcenter90 {line-height:90px}
.verticalcenter30 {line-height:30px}
.verticalcenter102 {line-height:102px}
.verticalcenter120 {line-height:120px}
.verticalcenter45 {line-height:45px}
.verticalcenter30 {line-height:30px}
.verticalcenter50 {line-height:50px}
.height102 {height:102px}
.height120 {height:120px}
.height90 {height:90px}
.height50 {height:50px}
.height60 {height:60px}
.height45 {height:45px}
.height30 {height:30px}
.height35 {height:35px}
.height25 {height:25px}
.height20 {height:20px}
.height400 {height:400px}
.height405 {height:405px}
.height380 {height:380px}
.height408 {height:408px}
.height900 {height:900px !important }
.height3 {height:3px}
.width200 {width:200px}
.width180 {width:180px}
.width150 {width:150px}
.width100 {width:100px}
.width110 {width:110px}
.width85 {width:85px}
.width50 {width:50px}
.width25 {width:25px}
.width440 {width:440px}
.width300 {width:300px}
.width8 {width:8px}
.width33p {width:33%}
.pad15 {padding:15px}
.pad40 {padding:40px}
.padleft15{padding-left:15px}
.padright20{padding-right:20px}
.padleft50{padding-left:50px}
.padtop3{padding-top:3px}
.border {border-style:solid;border-width:1px;border-color:gray}
.borderBottom {  border-bottom-width:1px; border-bottom-color:gray; border-bottom-style: solid;}
.borderLeft {  border-left-width:1px; border-left-color:gray; border-left-style: solid;}
.alignleft {text-align:left}
.alignright {text-align:right}
.aligncenter {text-align:center}
.invisible {visibility: hidden;}
.dentroCuadro {position:absolute; top:0px; width:612px; height:381px;} 
.zindex10{z-index:10; position: relative;}
.overflowy { overflow-y:auto; }
.sinEfectos a:link {text-decoration:none;color:black;}
.sinEfectos a:visited {text-decoration:none; color:black;}
.sinEfectos a:hover {text-decoration:none;color:black;}
.sinEfectos a:active {text-decoration:none;color:black;}
.sinEfectoswhite a:link {text-decoration:none;color:white;}
.sinEfectoswhite a:visited {text-decoration:none; color:white;}
.sinEfectoswhite a:hover {text-decoration:none;color:white;}
.sinEfectoswhite a:active {text-decoration:none;color:white;}
.textButton {padding:5px;color:white; font-size:14px; text-decoration:none}
.textButton:hover {color:black}
.underline {text-decoration:underline;}
.cursorpointer {cursor:pointer}
.blacktext {color:black}
.redtext {color:red}
.graytext {color: gray}
.graytext a{color: gray}
.fs10 { font-size:10px}
.fs8 { font-size:8px}
.fs12 { font-size:12px}
.fs14 { font-size:14px}
.fs18 { font-size:18px}
.fs24 { font-size:24px}
.fs28 { font-size:28px}
.table{display: table;}
.row{ display: table-row; }
.cell { display: table-cell; vertical-align:middle}
.fotoImage2 { position:absolute; top:0px;right:0px;}
.fotoImg { position:absolute; top:0px;right:0px;}
.fotoImg_mob { position:absolute; top:0px;right:0px;height:320px}
.fotoImgSingle { position:absolute; top:0px;right:0px;}
.hoverborder:hover {border-style:solid;border-width:1px;border-color:gray}
.hoverbggray:hover {background-color:#D8D8D8}
.padh5{padding:0px 5px}
#orderOption{cursor:pointer}
#orderList{line-height:25px; height: 320px }
#titulo1 { position:relative; text-align:right; top:0px; right:20px ; font-size:14px; font-weight:normal; height:10px }
#logo { position:relative;top: 50px;  height:110px;z-index:1 }
#logo_mob { z-index:1 }
#logoPortada { position:relative;left:-75px;top: -105px;  height:110px;z-index:1 }
#logoPortada_mob { position:absolute ;width:100%;top:60px;z-index:1 }
#contenedor1{ position:relative;top:50px;width:100%; margin-bottom:150px;visibility: hidden; width:980px; display:inline-block}
#contenedor1_mob{ position:relative;top:0px;width:100%; margin-bottom:20px;visibility: hidden; max-width:975px}
#orderDetailList { position:absolute; top:0px; padding-left:40px;height: 0px;display: inline-block; width:920px; height:411px; color:black;top:0px;font-size: 16px ;text-align: left;z-index:45;background-color: white; }
.loginStyle { position:absolute; top:0px; padding-left:40px;display: inline-block; width:920px; color:black;top:0px;font-size: 16px ;text-align: left;z-index:50;background-color: white; }
.loginStyle_mob { position:absolute; top:0px; display: inline-block; width:100%; color:black;font-size: 14px ;text-align: left;z-index:50;background-color: white; }
#carritoId { position:absolute; top:0px; width:920px ;font-size: 12px ;z-index:50; text.color: gray;background-color: white; overflow-y:auto ;padding-left:40px;padding-bottom:40px;margin-bottom:20px}
#carritoId_mob { position:absolute; top:0px; width:100% ;font-size: 14px ;z-index:50; text.color: gray;background-color: white; overflow-y:auto; padding-left:10px}
.contenido{ position:absolute ;top:0px; width:640px; padding-left: 20px; padding-right:20px; padding-top: 5px; padding-bottom: 8px;height: 407px ;font-size:14px; line-height:20px;  margin-left:10px; overflow-y: auto;text-align: left;z-index:5;}
.contenido_mob{ position:absolute ;top:-10px; width:90%; padding-left: 10px; font-size:14px;z-index:5;}
.contenido h2 { text-align:center; font-size:20px }
.contenido_mob h2 { text-align:center; font-size:20px, margin-bottom:5px }
.camposContenido_mob  { letter-spacing:1.2px; font-size:14px; margin-top:5px; text-align:left }
.contenido_mob h2 { text-align:center; font-size:20px; margin:2px }
.borrarArticulo {color:red; text-decoration:none;cursor: pointer;}

#menu_size_mob {  padding: 0px;font-size: 18px ;width: 100%;z-index:4}
#menu_size { position:absolute; top:150px; padding: 0px;font-size: 18px ;width: 100%;z-index:4;height:100px}
#menu { position:absolute; top:0px; padding: 0px;font-size: 16px ;color: white;width: 320px;text-align: left;z-index:4;height:400px}
#menu {text-align: left;z-index:5;width:290px}
#menu ul {height:411px; background-image:url('../images/menuBackground.png')}
#menu li:hover { color:black;cursor: pointer;}
#menu a:link {text-decoration:none;color:black;}
#menu a:visited {text-decoration:none; color:black;}
#menu a:hover {text-decoration:none;color:black;}
#menu a:active {text-decoration:none;color:black;}
#menuPortada { position:absolute; top:0px; padding: 0px;font-size: 16px ;color: black;width: 320px;text-align: left;z-index:4;}
#menuPortada {height:380px;text-align: left;z-index:5;width:321px}
.menu_recuadro { }
#menuPortada ul {height:380px}
#menuPortada li:hover { font-weight:bold ;cursor: pointer;}
#menuPortada a:link {text-decoration:none;color:black;}
#menuPortada a:visited {text-decoration:none; color:black}
#menuPortada a:hover {text-decoration:none;color:black;}
#menuPortada a:active {text-decoration:none;color:black;}
#menutitle{ background:none;padding:0px;height: 20px;margin-left:0px; margin-top:0px; font-size:12px }
#menu_mob { position:absolute; top:20px; padding: 0px;font-size: 14px ;color: white;width: 100%;text-align: left;z-index:4;background-color:white;z-index:5}
#menu_mob li:hover { color:black;cursor: pointer;}
#menu_mob a:link {text-decoration:none;color:black;}
#menu_mob a:visited {text-decoration:none; color:black;}
#menu_mob a:hover {text-decoration:none;color:black;}
#menu_mob a:active {text-decoration:none;color:black;}
#menu_header_mob {z-index:80}
#menuPortada_mob { position:absolute; top:0px; padding: 0px;font-size: 12px ;color: white;width: 100%;text-align: left;z-index:4;}
#menuPortada_mob {text-align: left;z-index:5;width:100%}
#menuPortada_mob ul {height:380px}
#menuPortada_mob li:hover { color:black;cursor: pointer}
#menuPortada_mob a:link {text-decoration:none;color:black}
#menuPortada_mob a:visited {text-decoration:none;color:black}
#menuPortada_mob a:hover {text-decoration:none;color:black}
#menuPortada_mob a:active {text-decoration:none;color:black}
#menutitle_mob{ background:none;padding:0px;height: 20px;margin-left:0px; margin-top:0px; font-size:12px }
#menucommerce{ width : 90% }
#selectOption {font-size:36px;line-height:200px } 
.itemSize {font-size: 18px;  font-weight:bold; display:inline; cursor:pointer}
.itemSize_mob {font-size: 18px;  font-weight:bold; display:inline; cursor:pointer}
.item1 {padding-left:10px;font-size: 16px; padding-top: 3px; padding-bottom: 3px;}
.item1.selected{color:black; font-weight:bold}
.item2 {padding-left:20px;font-size: 16px; padding-top: 3px; padding-bottom: 3px;}
.item2.selected{color:black; font-weight:bold}
.item3 { padding-left:35px; font-size: 14px; padding-top: 2px; padding-bottom: 2px; }
.item3.selected{ font-weight:bold;}
.item4 { padding-left:50px; font-size: 12px; padding-top: 2px; padding-bottom: 2px; }
.item4.selected{font-weight:bold; color:black;}
.item1_mob {padding-left:10px;font-size: 20px; padding-top: 3px; padding-bottom: 3px;}
.item1_mob.selected{color:black; font-weight:bold}
.item2_mob {padding-left:20px;font-size: 18px; padding-top: 3px; padding-bottom: 3px;}
.item2_mob.selected{color:black; font-weight:bold}
.item3_mob { padding-left:35px; font-size: 16px; padding-top: 2px; padding-bottom: 2px; }
.item3_mob.selected{ font-weight:bold;}
.item4_mob { padding-left:50px; font-size: 16px; padding-top: 2px; padding-bottom: 2px; }
.item4_mob.selected{font-weight:bold; color:black;}
.zoomContainerClass {position:absolute; top:30px;height:900px; width:700px; left:50%;margin-left: -350px; z-index:50; background-color: white;}
.zoomContainerClass_mob {position:absolute; top:100px; z-index:50; background-color: white;width:100%; overflow-y:auto;overflow-x:auto}
.fotoA {}
.foto { position:relative;top:3%; margin-bottom:60px;display: inline-block; width:320px; vertical-align:top;height:411px; }
.fotoProd { position:relative;top:3%; display: inline-block; width:320px; vertical-align:top;height:411px; }
.fotoProd_mob { position:relative;top:3%; display: inline-block; width:320px; vertical-align:top; }
.foto_mob { position:relative;top:3%; display: inline-block; width:320px; vertical-align:top;height:411px;margin-bottom:60px }
.foto_main_mob { position:relative; margin-top:3px;top:3%; display: inline-block; width:320px; }
.foto_blank { position:relative; top:3%; display: inline-block; width:320px; vertical-align:top;height:411px; }
.foto_blank1 { position:relative; top:3%; display: inline-block; width:320px; vertical-align:top;height:411px; }
.store { position:relative; margin-top:10px;display: inline-block; vertical-align: top;width:960px; height:40px; }
.storeDummy { position:relative; ;display: inline-block; vertical-align: top;width:450px;  }
.store_mob { position:relative; margin-top:10px; padding:5px}
.tagPrice {position:absolute; bottom:0px; background-repeat: repeat; height: 30px; width: 100%; line-height:30px; font-size: 20px ; font-style: bold;text-align: center; z-index:4; background-image:url('../images/menuBackground.png')}
.tagName {position:absolute; bottom:-50px;line-height:20px; text-align:center; background-repeat: repeat; height: 40px; width: 100%; font-size: 14px; font-style:bold;  text-align: center; z-index:5}
.tagName_mob {position:absolute; bottom:-50px;  line-height:20px;  text-align:center;;background-repeat: repeat; height: 40px; width: 100%; font-size: 12px; font-style:bold;  text-align: center; z-index:5;letter-spacing: 1.1px}
#tagPriceProducto {position:absolute;right:120px;background-repeat: repeat; font-size: 16px ;text-align: right;z-index:4}
#tagPriceProducto_mob { font-size: 22px ;z-index:5;padding:10px}
.tagAgotado {background-color: black; color:white; padding-top:6px;position:absolute; bottom:200px; background-repeat: repeat; height: 30px; width: 100%; font-size: 20px ; font-style: bold;text-align: center;z-index:4}

.titleCheck {font-weight:bold; font-size:24px;height:50px}

.precio{font-weight:bold;color:#424242}
.precioDecimal {font-size:11px}
.precioDecimal_mob {font-size:10px}
.thanksClass_mob{padding-top:30px;padding-bottom:30px}
#listaCarritoResumen_mob {width:90%}

#infoStore {position:absolute; bottom:200px; background-repeat: repeat; height: 30px; width: 315px; background-image:url('../images/menuBackground.png'); font-size: 12px ;text-align: center;z-index:4}
#infoPanel {position: absolute; top:0px;width:310px; height:401px; z-index:4;text-align: left;left; padding: 5px; background-color:white; overflow-y:auto}
#infoPanel_mob {  z-index:4;text-align: left;left; padding: 5px; background-color:white;font-size:18px}
#cuidados {cursor: pointer;z-index:20}
.tallasStyle{position:absolute; bottom:-40px ; left:0px; font-size: 16px; display:inline ; text-align: left; height: 20px;width:948px; background-image:url('../images/menuBackground.png');padding:10px}
.tallasStyle li {width:25px;}
.tallasStyle ul li { display: inline; padding-left: 2px; padding-right: 2px;font-size:12px;letter-spacing: 1.1px}
.tallasStyle li:hover { background-color:#CCCCCC; cursor: pointer;letter-spacing: 1.1px}
.tallasStyle_mob{  font-size: 16px; padding:10px; margin-bottom:5px}
.tallasStyle_mob ul li { display: inline; padding-left: 10px; padding-right: 10px;font-size:12px}
#tituloCat{position:absolute; top:-25px ; left:3px; font-size: 12px ; letter-spacing: 2px; cursor: pointer;color:gray; z-index:10}
#tituloVolver_mob{position:absolute; top:-25px ; left:3px; font-size: 18px ; letter-spacing: 2px; cursor: pointer}
.buyBotonStyle {position:absolute; right:4px; top:5px; }

.button {
  height: 48px;
  padding: 0 0px;
  border-radius: 4px;
  background: black;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  -o-transition: background 0.3s, color 0.3s;
  -ms-transition: background 0.3s, color 0.3s;
  -moz-transition: background 0.3s, color 0.3s;
  -webkit-transition: background 0.3s, colorblue}
.button:hover {
  background: white;
  color:black;
  text-decoration: none;
}
.button-smaller {
  height: 36px;
  padding: 0 24px;
}
.button-secondary {
  background: #d6d6d6;
  color: #292929;
}
.button-disabled {
  background: #999;
  cursor: inherit;
}
.button-disabled:hover {
  background: #999;
  cursor: inherit;
}
.button-secondary:hover {
  background: #b5b5b5;
}
a.button-ok, button.button-ok{
  background:black;
  color: #fff;
  padding-right:5px;
  padding-left:5px;
}
a.button-ok:hover, button.button-ok:hover { 
  background: white;
  color: black;
}


#titulo {position:absolute; top: -25px; font-size: 12px ; color:gray; right:0px; z-index:4; width: 700px; text-align:right;letter-spacing: 2px}	
#masInfo {position:absolute; top: -25px; font-size: 12px ; color:gray; right:0px; z-index:4; width: 700px; text-align:right;letter-spacing: 2px;cursor: pointer; display: inline-block;color:gray;font-size:12px}	
#boton1 {width:100px;height:30px;z-index:4;}
#footer { font-size:18px; position:fixed ; width: 100%; bottom: 0px; height: 30px; z-index:75 ;background-color:white}
#footer_mob { position:absolute; width: 100%; bottom:-240px;  z-index:75 ;;background-color:black; color:white;font-size:18px; margin-bottom:0px}
#cookie-container { position:fixed;  width: 100%; bottom:0px ; z-index:120 ; font-size:16px; padding:10px;border-style:solid;border-width:1px;border-color:gray;background-color:white}
#cookie-out { cursor:pointer}
#back{ margin-left:10px; cursor:pointer ; margin-right:10px }
.listFooter  {display:inline; vertical-align: top;line-height:20px; cursor:pointer}
.listFooter_mob  {}
.tiendas_mob a:link {text-decoration:none;color:white;}
.tiendas_mob a:visited {text-decoration:none; color:white;}
.tiendas_mob a:hover {text-decoration:none;color:white;}
.tiendas_mob a:active {text-decoration:none;color:white;}
.desplegaFooter{position:absolute; display:none;bottom:30px;padding-bottom:3px; border-style:solid;border-width:1px}
.desplegaFooter_mob{display:none;bottom:30px; border-style:solid; border-width:1px;border-color:gray}

.listDesplegaFooter {padding-left:5px;height:25px; text-align:left; line-height:25px; width:220px ; background-color:white}
.listDesplegaFooter:hover { background-color:gray;}

.listDesplegaFooter_mob {padding-left:5px;height:40px; line-height:40px; width:100%; background-color:white}


.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 14px;
	width: 16px;
	height: 100%;
	background: blue;
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: blue;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	background: #dde;
	position: relative;
	right:0px;
}

.jspDrag
{
	background: gray;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
	padding: 0;
	margin: 0;
}

.jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow
{
	height: 16px;
}

.jspHorizontalBar .jspArrow
{
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}

/*Lets create the magnifying glass*/
.large {
	width: 200px; height: 200px;
	line-height: 200px;
	font-size:16px;
	position: absolute;
	border-radius: 100%;
	z-index:50;
	cursor:pointer;	
	       /*Multiple box shadows to achieve the glass effect*/
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 1), 
	0 0 7px 7px rgba(0, 0, 0, 0.25), 
	inset 0 0 40px 2px rgba(0, 0, 0, 0.25);


	
	/*Lets load up the large image first*/
	
	/*hide the glass by default*/
	display: none;
}

/*To solve overlap bug at the edges during magnification*/
.small { display: block; }

