# -- Symfony2 -----------------------------------------
app/bootstrap.php.cache
app/bootstrap_cache.php.cache
app/config/parameters.ini
app/config/parameters.yml
app/config/parameters.yml.dist
app/cache/*
app/logs/*
/logs/*
vendor/*
web/bundles/*
web/css/*
web/js/*
web/uploads/*
src/Custom/ProjectBundle/Resources/public/images/Product/*



# -- Composer -----------------------------------------
composer.phar

# -- PHPUnit ------------------------------------------
app/phpunit.xml  

# -- Editores -----------------------------------------
# vim
.*.sw[a-z]
*.un~
Session.vim
.netrwhist



# Linux
.*
!.gitignore
!.htaccess
*~



