
    <!doctype html> 
    <html>   
        <!--<![endif]-->
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
            <title>Macson</title>
            <meta name="Macson" content="Macson">
            {% include "MacsonProjectBundle:Default:script.html.twig"  %}
            {% include "MacsonProjectBundle:Default:styles.html.twig"  %}
        </head> 



