{% include "MacsonProjectBundle:Default:base.html.twig" %}

<body>
    {% include "MacsonProjectBundle:Default:header.html.twig" %}

    <div>ERROR</div>

	{% include "MacsonProjectBundle:Default:footer.html.twig" %}
</body>

</html>