<img id="portada" src='{{ asset('bundles/macsonproject/images/portada1.jpg') }}'/>
<div id="tipoPagina">hom</div>
<div id="contenedor1">	
	<div id="fotoRow">
		<div class="foto">
{% include "MacsonProjectBundle:Default:login.html.twig" %}				
			<img src='{{ asset('bundles/macsonproject/images/espacio.png') }}'>	
{% include "MacsonProjectBundle:Default:menu.html.twig" %}
		</div>
		<div class="foto">
			<img src='{{ asset('bundles/macsonproject/images/espacio.png') }}'>		
		</div>
		<div class="foto">
			<img src='{{ asset('bundles/macsonproject/images/espacio.png') }}'>	
		</div>

	</div>		
</div>	