    <!doctype html> 
    <html>   
        <!--<![endif]-->
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
            <title>Macson</title>
            <meta name="Macson" content="Macson">
            {% include "CustomProjectBundle::styles.html.twig"  %}
            {% include "CustomProjectBundle::script.html.twig"  %}
    	    <link rel="stylesheet" href="/bundles/drufonycore/assets/css/generic-styles.css">
        </head> 

