	 <div id="footer">
		<ul>
			<li>{{'Company'|t}} |</li>
			<li>{{'Franchises'|t}} |</li>
			<li>{{'Conditions and terms'|t}} |</li>
			<li>{{'Contact'|t}}</li>
		</ul>
	</div>

</body>
{% include 'DrufonyCoreBundle::script-analytics.html.twig' %}
{% include 'DrufonyCoreBundle::block-cookie.html.twig' %}

</html>
