{% include "CustomProjectBundle::header.html.twig" %}

<script>

	var urlImgSize = "{{ asset('bundles/customproject/images/XXXX.png') }}";
	var lang = "{{ lang }}";
</script>

<div id="tipoPagina">cat</div>
<div id="contenedor1">
	<div id="foto1">
		<div id="menu_size">
			<div class="itemSize">
				americana
			</div>	
			| 
			<div class="itemSize">
				punto
			</div>
			|
			<div class="itemSize">
				traje
			</div>
			|
			<div class="itemSize">
				camisa
			</div>
			|
			<div class="itemSize">
				pantalones
			</div>
			|
			<div class="itemSize">
				zapatos
			</div>
		</div>	
{% include "CustomProjectBundle::login.html.twig" %}			
{% include "CustomProjectBundle::carritoResumen.html.twig" %}
	</div>
	<div id="foto1">

		<img id="sizeImg"  src='{{ asset('bundles/customproject/images/espacio.png') }}'>	
	</div>	
</div>	

{% include 'DrufonyCoreBundle::block-cookie.html.twig' %}
{% include "CustomProjectBundle::footer.html.twig" %}
