<!-- row -->
<div class="row row-app">
  <!-- col -->
  <div class="col-md-12">
    <!-- col-separator -->
    <div class="col-separator col-separator-first col-unscrollable bg-none">
      <!-- col-table -->
      <div class="col-table">
        <!-- heading -->
        <div class="innerTB">
          <h3 class="margin-none pull-left">Today &nbsp;<i class="fa fa-fw fa-pencil text-muted"></i></h3>
          <div class="btn-group pull-right">
            <a href="/today?lang=en" class="btn btn-primary"><i class="fa fa-fw fa-bar-chart-o"></i>
                Today</a>
            <a href="/month?lang=en" class="btn btn-default"><i class="fa fa-fw fa-bar-chart-o"></i>This Month</a>
            <a href="/year?lang=en" class="btn btn-default"><i class="fa fa-fw fa-bar-chart-o"></i>
               This Year</a>
          </div>
          <div class="clearfix"></div>
        </div>
        <!-- // END heading -->

        <div class="col-separator-h"></div>

        <!-- col-table-row -->
        <div class="col-table-row">

          <!-- col-app.col-unscrollable -->
          <div class="col-app col-unscrollable">

            <!-- col-app -->
            <div class="col-app">

              <!-- content -->
              <div class="row row-app">
                <div class="col-md-3">
                  <div class="col-separator">
                    <div class="text-center innerAll inner-2x border-bottom">
  <div class="innerTB">
    <div data-percent="85" data-size="100" class="easy-pie inline-block easy-pie-gender primary" data-scale-color="false" data-track-color="#efefef" data-line-width="5">
      <div class="value text-center">
        <span class="strong"><i class="icon-graph-up-1 fa-3x text-primary"></i></span>
      </div>
    </div>
  </div>
</div>
<div class="text-center innerAll inner-2x bg-gray">
  <p class="lead margin-none"><span class="text-large text-regular">8 </span><span class="clearfix"></span> <span class="text-primary">Visits</span></p>
</div>


                  </div>
                </div>
                <div class="col-md-3">
                  <div class="col-separator">
                    <div class="text-center innerAll inner-2x border-bottom">
  <div class="innerTB">
    <div data-percent="85" data-size="100" class="easy-pie inline-block easy-pie-gender success" data-scale-color="false" data-track-color="#efefef" data-line-width="5">
      <div class="value text-center">
        <span class="strong"><i class="icon-cash-bag fa-4x text-success"></i></span>
      </div>
    </div>
  </div>
</div>
<div class="text-center innerAll inner-2x bg-gray">
  <p class="lead margin-none"><span class="text-large text-regular">2,350 </span><span class="clearfix"></span> <span class="text-success">Finance</span></p>
</div>

                  </div>
                </div>
                <div class="col-md-3">
                  <div class="col-separator">
                    <div class="text-center innerAll inner-2x border-bottom">
  <div class="innerTB">
    <div data-percent="85" data-size="100" class="easy-pie inline-block easy-pie-gender info" data-scale-color="false" data-track-color="#efefef" data-line-width="5">
      <div class="value text-center">
        <span class="strong"><i class="icon-shopping-bag fa-3x text-info"></i></span>
      </div>
    </div>
  </div>
</div>
<div class="text-center innerAll inner-2x bg-gray">
  <p class="lead margin-none"><span class="text-large text-regular">20 &euro;</span> <span class="clearfix"></span> <span class="text-info">Sales</span></p>
</div>

                  </div>
                </div>
                <div class="col-md-3">
                  <div class="col-separator col-separator-last">
                    <div class="text-center innerAll inner-2x border-bottom">
  <div class="innerTB">
    <div data-percent="85" data-size="100" class="easy-pie inline-block easy-pie-gender inverse" data-scale-color="false" data-track-color="#efefef" data-line-width="5">
      <div class="value text-center">
        <span class="strong"><i class="icon-user-2 fa-3x text-faded"></i></span>
      </div>
    </div>
  </div>
</div>
<div class="text-center innerAll inner-2x bg-gray">
  <p class="lead margin-none"><span class="text-large text-regular">10 </span> <span class="clearfix"></span><span>New users</span></p>
</div>

                  </div>
                </div>
              </div>
              <div class="col-separator-h"/></div>

              <div class="row row-app">
                <div class="col-md-8">
                  <div class="col-separator">


                <!-- Widget -->
                <div class="widget widget-heading-simple widget-body-white">
                  <div class="widget-body">
                    <!-- Chart with lines and fill with no points -->
                    <div id="chart_lines_fill_nopoints" class="flotchart-holder"></div>
                  </div>
                </div>
                <!-- // Widget END -->

                    <div class="col-separator-h"></div>

                  </div>
                </div>
                <div class="col-md-4">
                  <div class="col-separator col-separator-last">
                    <a href="" class="widget widget-icon success innerAll inner-2x text-center text-regular">
  <i class="display-block icon-alarm-clock text-xlarge"></i>
  <span class="lead">0 Orphaned carts</span>
</a>

                    <div class="col-separator-h"></div>

                    <a href="" class="widget widget-icon primary innerAll inner-2x text-center text-regular">
  <i class="display-block  icon-graduation text-xlarge"></i>
  <span class="lead">10 Failed Checkouts</span>
</a>

                    <div class="col-separator-h"></div>

                    <a href="" class="widget widget-icon success innerAll inner-2x text-center text-regular" style="background-color: #D4BF54">
  <i class="display-block icon-envelope-2 text-xlarge"></i>
  <span class="lead">5 Out of stock</span>
</a>

                    <div class="col-separator-h"></div>


                    <div class="col-separator-h"></div>
                  </div>
                </div>
              </div>
              <!-- // END content -->

            </div>
            <!-- // END col-app -->

          </div>
          <!-- // END col-app.col-unscrollable -->

        </div>
        <!-- // END col-table-row -->

      </div>
      <!-- // END col-table -->

    </div>
    <!-- // END col-separator -->

  </div>
  <!-- // END col -->

</div>
<!-- // END row -->
