<!-- row -->
<div class="row row-app">
  <!-- col -->
  <div class="col-md-12">
    <!-- col-separator -->
    <div class="col-separator col-separator-first col-unscrollable bg-none">
      <!-- col-table -->
      <div class="col-table">
        <!-- heading -->
        <div class="innerTB">
          <!-- <h3 class="margin-none pull-left">Now &nbsp;<i class="fa fa-fw fa-pencil text-muted"></i></h3> -->
          <div class="clearfix"></div>
        </div>
        <!-- // END heading -->

        <div class="col-separator-h"></div>

        <!-- col-table-row -->
        <div class="col-table-row">

          <!-- col-app.col-unscrollable -->
          <div class="col-app col-unscrollable">

            <!-- col-app -->
            <div class="col-app">

              <!-- content -->
              <div class="row row-app">
                <div class="col-md-3">
                  <div class="col-separator">
                    <div class="text-center innerAll inner-2x border-bottom">
  <div class="innerTB">
    <div data-percent="85" data-size="100" class="easy-pie inline-block easy-pie-gender primary" data-scale-color="false" data-track-color="#efefef" data-line-width="5">
      <div class="value text-center">
        <span class="strong"><i class="icon-add-to-cart fa-3x text-primary"></i></span>
      </div>
    </div>
  </div>
</div>
<div class="text-center innerAll inner-2x bg-gray">
  <p class="lead margin-none"><span id="StartedCartsValue" class="text-large text-regular">8</span><span class="clearfix"></span> <span class="text-primary">Started carts</span></p>
</div>


                  </div>
                </div>
                <div class="col-md-3">
                  <div class="col-separator">
                    <div class="text-center innerAll inner-2x border-bottom">
  <div class="innerTB">
    <div data-percent="85" data-size="100" class="easy-pie inline-block easy-pie-gender inverse" data-scale-color="false" data-track-color="#efefef" data-line-width="5">
      <div class="value text-center">
        <span class="strong"><i class="icon-heart-beat fa-4x text-faded"></i></span>
      </div>
    </div>
  </div>
</div>
<div class="text-center innerAll inner-2x bg-gray">
  <p class="lead margin-none"><span id="VisitsValue" class="text-large text-regular">20 </span><span class="clearfix"></span> <span>Visits</span></p>
</div>

                  </div>
                </div>
                <div class="col-md-3">
                  <div class="col-separator">
                    <div class="text-center innerAll inner-2x border-bottom">
  <div class="innerTB">
    <div data-percent="85" data-size="100" class="easy-pie inline-block easy-pie-gender info" data-scale-color="false" data-track-color="#efefef" data-line-width="5">
      <div class="value text-center">
        <span class="strong"><i class="icon-cash-register fa-3x text-info"></i></span>
      </div>
    </div>
  </div>
</div>
<div class="text-center innerAll inner-2x bg-gray">
  <p class="lead margin-none"><span id="CheckoutsInProgressValue" class="text-large text-regular">2,350 &euro; </span> <span class="clearfix"></span> <span class="text-info">Checkouts</span></p>
</div>

                  </div>
                </div>
                <div class="col-md-3">
                  <div class="col-separator col-separator-last">
                    <div class="text-center innerAll inner-2x border-bottom">
  <div class="innerTB">
    <div data-percent="85" data-size="100" class="easy-pie inline-block easy-pie-gender success" data-scale-color="false" data-track-color="#efefef" data-line-width="5">
      <div class="value text-center">
        <span class="strong"><i class="icon-calculator fa-3x text-success"></i></span>
      </div>
    </div>
  </div>
</div>
<div class="text-center innerAll inner-2x bg-gray">
  <p class="lead margin-none"><span id="EstimatedForecastValue" class="text-large text-regular">98,20 &euro; </span> <span class="clearfix"></span><span class="text-success">Sales forecast</span></p>
</div>

                  </div>
                </div>
              </div>
              <div class="col-separator-h"/></div>

              <div class="row row-app">
                <div class="col-md-12">

                <!-- Widget -->
                <div class="widget widget-heading-simple widget-body-white">
                  <div class="widget-body">
                    <!-- Live Chart -->
<div id="chart_live" class="flotchart-holder"></div>
                  </div>
                </div>
                <!-- // Widget END -->

                </div>
              </div>
              <!-- // END content -->

            </div>
            <!-- // END col-app -->

          </div>
          <!-- // END col-app.col-unscrollable -->

        </div>
        <!-- // END col-table-row -->

      </div>
      <!-- // END col-table -->

    </div>
    <!-- // END col-separator -->

  </div>
  <!-- // END col -->

</div>
<!-- // END row -->
