<html>
<body>
<h1>{{ "Edit string" | t }}</h1>
<div id="edit-original" class="form-item form-type-item">
    <label for="edit-original">{{ "Original text" | t }}</label>
    <p>{{ string }}</p>
</div>
{{ form(form) }}
</body>
</html>
