<p>
    {{
        'Hello %username, to recover your password click in next link.' |
        t({ '%username': customParams.username }, customParams.lang)
    }}
    <a href='{{ customParams.link }}'>{{ 'Recover'|t(0, customParams.lang) }}</a>
</p>
