<html>
<body>
<div>
    <p>
        User {{customParams.name}} with email {{customParams.email}} write a contact form with the next message:
    </p>
    {% if customParams.phone %}
    <p> Phone number: {{customParams.phone}} </p>
    {% endif %}
    <p>
        {{customParams.body}}
    </p>
</div>
</body>
</html>
