
{% include 'DrufonyCoreBundle::emails/mailBase.html.twig' %}

<p>{{ 'Hello @username' | t({ '@username': customParams.username }) }},</p>


{{customParams.cart[0].varieties}}
<p>{{ 'Your order with number @orderId has been completed successfully and paid through @paymentPlataform.'
    | t({ '@orderId': customParams.orderId, '@paymentPlataform': customParams.paymentPlataform }) }}
<p>{{ 'Briefly you will receive your goods in the indicated address'|t}}</p>

{% include 'DrufonyCoreBundle::emails/mailFooter.html.twig' %}
