

{% include "CustomProjectBundle::base.html.twig" %}


<body>  
<div class="center" id="logo"><img src='{{app.request.getSchemeAndHttpHost()  ~  asset('bundles/customproject/images/LogoMacson.png') }}'></div>

